*{
    margin: 0;
    padding: 0;
    justify-content: center;
}

.profPIc{
    border-radius: 50%;
    margin-right: 1em;
}
.boldtxt{
    font-weight: 600;
}

.social-menu{
    display: flex;
    list-style: none;
}
.social-item{
    margin: 20px;
}

.bd-placeholder-img1{
    background-image: url('../resorce/proj/teskmanage.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2em;
}
.bd-placeholder-img2{
    background-image: url('../resorce/proj/filemanage.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2em;
}
.bd-placeholder-img3{
    background-image: url('../resorce/c-sharp-c-logo-02F17714BA-seeklogo.com.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2em;
}
/* .bd-placeholder-img4{
    background-image: url('../');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 2em;
} */
/* fill="./resorce/proj/filemanage.png" */

.pv-recommendation-entity:first-child {
    padding-top: 0;
    border-top: none;
}
.pv-recommendation-entity {
    margin-right: 0;
    display: flex;
    border-top: 1px solid #e6e9ec;
    padding: 16px 0;
}

/* image settings */
.pv-recommendation-entity img {
  border-radius: 50%
}

.pv-recommendation-entity__header {
    width: 33%;
}

.pv-recommendation-entity__highlights {
    width: 66%;
    padding-left: 16px;
}

.pv-profile-wrapper a:visited {
    color: #fff;
}
.pv-profile-wrapper a {
    text-decoration: none;
}

.pv-recommendation-entity__member {
    display: block;
    overflow: auto;
    text-decoration: none;
}

a.pv-recommendation-entity__member {
      color: #fff;
      text-decoration: none;
      -webkit-transition: all .2s linear;
      transition: all .2s linear;
      border-bottom: 0px #fff;
}

/* name of recommending */
.t-16 {
    padding-top: 20px;
    font-size: 1.5rem;
    line-height: 1.33333;
}

/* title of recommending */
.t-14 {
    font-size: 1.0rem;
    line-height: 1.42857;
}

/* date and relationship */
.t-12 {
    font-size: 1rem;
    line-height: 1.33333;
}

/* more text styles */
.t-black {
    color: rgba(0,0,0,.9);
}
.t-bold {
    font-weight: 600;
}
.t-normal {
    font-weight: 400;
}
.t-black--light {
    color: rgba(0,0,0,.6);
}

.pvs-list{
    list-style: none;
}
.artdeco-tabpanel{
    display: grid;
    text-align: center;
    margin: 40px 40px;
}
.ivm-view-attr__img--centered{
    border-radius: 100px;
}
.artdeco-list__item{
    margin: 20px 0;
}

/* sizing of recommendation text */
blockquote {
    font-size: 1rem;
    line-height: 1.3333;
    font-weight: 200;
    color: rgba(0,0,0,.75);
}
blockquote, q {
    quotes: none;
}